
@{
    ViewData["Title"] = "Index";
}

<h2>Project Description</h2>

<br />

<p>
    Those are forms that are made by different types.
</p>
<p>
    Standard - The views for this controller will use plain HTML labels and inputs. Validation messages are not required for this.
</p>
<p>
    HHInput - The index view for this controller will use HTML Helpers to generate the form labels/inputs.
</p>
<p>
    HHInputFor - This is similar to the views for HHInputController.
</p>
<p>
    HHEditorFor - This is similar to the views for HHInputForController.
</p>
<p>
    HHEditorForModel - This will use the EditorForModel HTML helper in order to automatically generate the form.
</p>
<p>
    TagHelper - This will use Tag Helpers in order to generate the form controls.
</p>
