
@{
    ViewData["Title"] = "Home";
}

<div class="make-center text-center">
    <img class="bg-white" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/175px-UEFA_Champions_League_logo_2.svg.png" alt="Image result" />
    <h2>Welcome to <strong>UEFA Champions League</strong></h2>
    <p>Find out the newest standing and matches of the UEFA Champions League</p>
    <p>Please check the navigation links above!</p>
</div>