@model Team
@{
    ViewData["Title"] = "Add a Team";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Add a Team</h2>

<form asp-action="Index" asp-controller="AddTeam" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group col-sm-6">
        <label asp-for="TeamName" class="control-label"></label>
        <input asp-for="TeamName" class="form-control" />
        <span asp-validation-for="TeamName"></span>

        <label asp-for="Badge" class="control-label"></label>
        <input asp-for="Badge" class="form-control" />
        <span asp-validation-for="Badge"></span>

        <label asp-for="Wins" class="control-label"></label>
        <input asp-for="Wins" class="form-control" />
        <span asp-validation-for="Wins"></span>

        <label asp-for="Draws" class="control-label"></label>
        <input asp-for="Draws" class="form-control" />
        <span asp-validation-for="Draws"></span>

        <label asp-for="Loses" class="control-label"></label>
        <input asp-for="Loses" class="form-control" />
        <span asp-validation-for="Loses"></span>

        <label asp-for="GoalsFor" class="control-label"></label>
        <input asp-for="GoalsFor" class="form-control" />
        <span asp-validation-for="GoalsFor"></span>

        <label asp-for="GoalsAgainst" class="control-label"></label>
        <input asp-for="GoalsAgainst" class="form-control" />
        <span asp-validation-for="GoalsAgainst"></span>

        <label asp-for="Group" class="control-label"></label>
        <input asp-for="Group" class="form-control" />
        <span asp-validation-for="Group"></span>

        <button type="submit" class="btn btn-primary">Create Team</button>
    </div>
</form>