<div class="card bg-transparent border-white m-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10">
                <ul class="list-group">
                    <li class="list-group-item bg-transparent borderless">
                        <div class="row">
                            <div class="col-"><img class="team-icon-size" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/QPbjvDwI_0Wuu4tCS2O6uw_48x48.png"></div>
                            <div class="col-sm-10">Valencia</div>
                            <div class="col-">3</div>
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent borderless disabled">
                        <div class="row">
                            <div class="col-"><img class="team-icon-size" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/PxDppOF513PSruqWNIIE2w_48x48.png"></div>
                            <div class="col-sm-10">Young Boys</div>
                            <div class="col-">1</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm border-left">
                <p class="text-center">FT</p>
                <p class="text-center">11/7</p>
            </div>
        </div>
    </div>
</div>