<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Club</th>
            <th class="w-75" scope="col"></th>
            <th scope="col">MP</th>
            <th scope="col">W</th>
            <th scope="col">D</th>
            <th scope="col">L</th>
            <th scope="col">GF</th>
            <th scope="col">GA</th>
            <th scope="col">GD</th>
            <th scope="col">Pts</th>
        </tr>
    </thead>
</table>